{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block body %}


<div class="wrapper">
    <h1>Отзовик</h1>
    Купили товар и разочаровались в его качестве? Или товар понравился и теперь хотите рекомендовать его другим? Тогда этот сайт для <custom>вас</custom>!
    <p>Здесь Вы можете оставить свой отзыв к товару.</p>
</div>

{% endblock %}
