{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<style>
	.wrapper custom{ font-weight: bold; }
</style>


<div class="wrapper">
    <h1>Отзовик</h1>
    Купили товар и разочаровались в его качестве? Или товар понравился и теперь хотите рекомендовать его другим? Тогда этот сайт для <custom>вас</custom>!
    <p>Здесь Вы можете оставить свой отзыв к товару.</p>
</div>

{% endblock %}
