{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Товары</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Дата добавления</th>
                <th>Описание</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.date ? product.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.about }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Показать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



</div>
{% endblock %}
