{% extends 'base.html.twig' %}

{% block title %}Feedback index{% endblock %}

{% block body %}
    <h1>Feedback index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Raiting</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.product }}</td>
                <td>{{ feedback.raiting }}</td>
                <td>{{ feedback.text }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('feedback_new') }}">Create new</a>
{% endblock %}
