{% extends 'base.html.twig' %}

{% block title %}Новый отзыв{% endblock %}

{% block body %}

    <h1>Оставить отзыв</h1>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

	<div class="wrapper">
    	{{ include('feedback/_form.html.twig') }}
	</div>

{% endblock %}
